@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$pink: #FFC3E1;
$hotpink: #FF69B4;
$white: #ffffff;
$gray: #A9A9A9;
$standard-border: 3px $hotpink dashed;

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: $pink;
}

label, p, input, button, li {
  font-family: 'Raleway';
}

li {
  list-style: none;
}

.header, .empty-todo-list {
  background-color: $white;
  border: $standard-border;
  font-family: 'Frijole', cursive;
  color: $hotpink;
  width: 40%;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
}

.empty-todo-list, .todo-list {
  padding: 15px;
  text-align: left;
}

.todo-list {
  display: flex;
  flex-direction: row;

  .todo-list-items {
    width: 75%;
    margin-right: 15px;
  }
}

.todo-list-item {
  background-color: $white;
  border: $standard-border;
  margin-bottom: 16px;

  .todo-title {
    color: $hotpink;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 15px;
  }

  .todo-done, .todo-undone, .todo-body, {
    padding-left: 15px;
  }

  .remove {
    background-color: cornflowerblue;
    color: $white;
    outline: none;
    border-radius: 5px;
  }
}

.todo-list-form {
  width: 25%;
  background-color: $white;
  border: $standard-border;
  margin-top: 16px;
  margin-right: 16px;

  .todo-form-title, .form-content {
    font-family: 'Frijole', cursive;
    color: $hotpink;
    margin : {
      left: 15px;
      top: 15px;
    }
  }

  .todo-form-title {
    font-family: 'Frijole', cursive;
    color: $hotpink;
  }

  input.todo-form {
    width: 90%;
  }
}

.done, .create, .undone {
  color: $white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.done, .create {
  background-color: $hotpink;
}

.undone {
  background-color: $gray;
}

.todo-detail-view {
  padding-left: 15px;

  .steps {
    background-color: $pink;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
  }

  .step-items {
    display: flex;
    flex-direction: row;
  }
  
  .step-form {
    margin-bottom: 15px;

    .add-step, .step-input {
      margin-left: 15px;
    }

    .step-input {
      font-family: 'Frijole', cursive;
      color: $hotpink;
    }
  }
}
